.about__container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 2rem;
}
.about__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    color: white;
    text-shadow:0px 0px 15px cyan;
}
.about__paragraph{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;  
    color: white;
}
@media (max-width: 1160px) {
    .about__container{
        gap: 0rem;
    }
    .about__title{
        font-size: 36px;
    }
    .about__paragraph{
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 18px;
    }
}